@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.progreso{
    &__title{
        font-size: 2.8rem;
        margin-bottom: 5rem;
    }

    &__columnsContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include m.tablet { 
            flex-direction: row;
            gap: 5rem
         }
    }

    &__column{
        width: 100%;
        min-height: 21rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    &__section{
        width: 100%;
        height: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__barra{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    
    &__label{
        margin-bottom: 2rem;
    }

    &__progress{
        width: 100%;
    }
}